body { 
    margin:0; 
} 

a{
    text-decoration: none;
}

.text{
    font-size: 20px;
}

.text-center{
    text-align: center;
}

.small-padding{
    padding: 12px;
}

.title{
    font-size: 24px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.padding{
    padding: 32px;
}

.margin{
    margin: 32px;
}